@import 'navs/global.scss';
@import 'navs/topbar.scss';
@import 'navs/sidebar.scss';

.navbar-z {
    z-index: 10;
}

@media (max-width: 1270px) {
    .collapse-items {
        position: absolute;
        display: none;
    }
}

@media (max-width: 530px) {
    .collapse-brand {
        display: none;
    }
}

@media (max-width: 435px) {
    .collapse-reg {
        display: none;
    }
}
