<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Webapplication to share and manage finances" content="">
    <meta name="Daniel Widmayer" content="Financing">

    <title>Cashare Expenses</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/cashare.min.css" rel="stylesheet">

    <!-- calendar styling -->
    <link rel="stylesheet" href="/static/css/calendar.css">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('sidebar'); -%>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include('topbar'); -%>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-primary font-weight-bold">Expenses</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            data-toggle="modal" data-target="#ExpenseModal"><i
                                class="fas fa-plus fa-sm text-white-50"></i> New Expense</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Expenses (Monthly) Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Average Expenses (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="average_expenses"> </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-600"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Expenses (annual) -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Expenses (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="annual_expenses"> </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-600"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Payment Tasks Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Payment Tasks</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-600"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Expenses last month -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Expenses (last month)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <div id="last_month_expenses"> </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-600"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Bar Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card border-left-primary shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-secondary" id="bar-chart-title">Expenses - Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Analysis</div>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#filter_data">Filter expenses...</a>
                                            <!-- <a class="dropdown-item" href="#">Show all expenses</a> -->
                                            <!-- <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="BarChart_Expenses"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card border-left-primary shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-secondary">Categories</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                                        </a>
                                        <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="PieChartExpenses"></canvas>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card border-left-primary shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Payment Goals</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Car <span class="float-right">45%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 45%"
                                            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">House <span class="float-right">23%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 23%"
                                            aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Holidays <span class="float-right">10%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 10%"
                                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Cinema <span class="float-right">Complete!</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Rent <span class="float-right">Complete!</span>
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card border-left-primary shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Add new Expense</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <div class="input-group mb-3">
                                            <input type="number" step="0.01" min="0" lang="en" class="form-control"
                                                placeholder="Expense Value" aria-label="Transaction Value"
                                                aria-describedby="basic-addon2" id="transactionValue">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">$</span>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select form-control timePeriod" id="timePeriod">
                                                <option selected>Choose Expense Type</option>
                                                <option value="1">Single Expense</option>
                                                <option value="2">Regular Expense</option>
                                            </select>
                                        </div>
                                        <div id="groupTimePeriod" class="input-group mb-3">
                                            <div class="input-group">
                                                <input type="number" step="1" min="1" class="form-control"
                                                    placeholder="Amount of Time" id="repetition_value">
                                                <div class="input-group-append">
                                                    <select class="custom-select form-control" id="timeUnit">
                                                        <option selected>Choose Time unit</option>
                                                        <option value="1">Years</option>
                                                        <option value="2">Months</option>
                                                        <option value="3">Days</option>
                                                        <option value="4">Hours</option>
                                                        <option value="5">Minutes</option>
                                                        <option value="6">Seconds</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Calendar + Time Picker-->
                                        <div id="groupCalendar" class="form-group">
                                            <div class="input-group date datetimepicker " id="datetimepicker"
                                                data-target-input="nearest">
                                                <input id="dateTimeID" type="text"
                                                    class="form-control datetimepicker-input"
                                                    data-target="#datetimepicker" data-toggle="datetimepicker" />
                                                <div class="input-group-append" data-target="#datetimepicker"
                                                    data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                                <div class="input-group-append">
                                                    <label class="input-group-text">Start
                                                        Time</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="destination_account_input_group" class="input-group mb-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                    placeholder="Enter user name" id="destination_id" disabled>
                                                <div class="input-group-append">
                                                    <select class="custom-select form-control" id="destination_account">
                                                        <option value="0" selected>Choose destination account</option>
                                                        <option value="1">Transfer to my account</option>
                                                        <option value="2">Transfer to another user's account</option>
                                                        <option value="3">Transfer to the account of a payment group</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="input-group mb-3">
                                            <select class="custom-select" id="chooseCategory" disabled>
                                                <option selected>Choose Category</option>
                                                <% for (var i = 0; i < categorys.length; i++){ %>
                                                    <% if (i!=0){ %>
                                                        <option value="<%=categorys[i].category_id%>"><%=categorys[i].category_name%></option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                            <div class="input-group-append">

                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-toggle="modal" data-target="#Category" id="new_category_button" disabled>
                                                    <i class="fas fa-plus fa-sm text-gray-50"></i>
                                                    New Category
                                                </button>

                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Button Add new Expense-->
                                        <button class="btn btn-success btn-icon-split" id="addExpense">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Add new Expense</span>
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card border-left-primary shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Add new Payment Goal</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <div class="input-group mb-3">
                                            <input type="text" lang="en" class="form-control"
                                                placeholder="Title" aria-label="Transaction Value"
                                                aria-describedby="basic-addon2" id="transactionValue">
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="number" step="0.01" min="0" lang="en" class="form-control"
                                                placeholder="Value" aria-label="Transaction Value"
                                                aria-describedby="basic-addon2" id="transactionValue">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">$</span>
                                                </div>
                                        </div>
                                        
                                        
                                        <div class="input-group mb-3">
                                            <select class="custom-select" id="chooseCategory">
                                                <option selected>Choose Category</option>
                                                <% for (var i = 0; i < categorys.length; i++){ %>
                                                    <% if (i!=0){ %>
                                                        <option value="<%=categorys[i].category_id%>"><%=categorys[i].category_name%></option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                            <div class="input-group-append">

                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-toggle="modal" data-target="#Category">
                                                    <i class="fas fa-plus fa-sm text-gray-50"></i>
                                                    New Category
                                                </button>

                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Button Add new Payment Goal-->
                                        <button class="btn btn-success btn-icon-split" id="addPaymentGoal">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Add new Payment Goal</span>
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-xl-6 mb-4">
                            <div class="card border-left-primary shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-secondary">Regular Incomes</h6>
                                </div>
                                <div class="pl-2">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Income Value</th>
                                                <th scope="col">Amount of Time</th>
                                                <th scope="col">Start Time</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Edit/Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">$50</th>
                                                <td contenteditable="true">10 Seconds</td>
                                                <td>yyyy-mm-dd hh:mm:ss</td>
                                                <td>Amusement</td>
                                                <td class="pr-0">
                                                    <button class="btn btn-circle btn-primary bg-gradient-primary"><i
                                                            class="fas fa-edit text-white" data-toggle="modal"
                                                            data-target="#editIncomeModal"></i></button>
                                                    <button class="btn btn-circle btn-primary bg-gradient-primary"><i
                                                            class="fas fa-trash text-white" data-toggle="modal"
                                                            data-target="#deleteIncomeModal"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500</th>
                                                <td>1 Month</td>
                                                <td>yyyy-mm-dd hh:mm:ss</td>
                                                <td>Food</td>
                                                <td class="pr-0">
                                                    <button class="btn btn-circle btn-primary bg-gradient-primary"><i
                                                            class="fas fa-edit text-white" data-toggle="modal"
                                                            data-target="#editIncomeModal"></i></button>
                                                    <button class="btn btn-circle btn-primary bg-gradient-primary"><i
                                                            class="fas fa-trash text-white" data-toggle="modal"
                                                            data-target="#deleteIncomeModal"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="./logout">Logout</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- New Expense Modal -->
    <div class="modal fade" id="ExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Expense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">

                        <div class="input-group mb-3">
                            <input type="number" step="0.01" min="0" lang="en" class="form-control"
                                placeholder="Expense Value" aria-label="Transaction Value"
                                aria-describedby="basic-addon2" id="transactionValueModal">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">$</span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <select class="custom-select form-control" id="timePeriodModal">
                                <option selected>Choose Expense Type</option>
                                <option value="1">Single Expense</option>
                                <option value="2">Regular Expense</option>
                            </select>
                        </div>
                        <div id="groupTimePeriodModal" class="input-group mb-3">
                            <div class="input-group">
                                <input type="number" step="1" min="1" class="form-control" placeholder="Amount of Time"
                                    id="repetition_valueModal">
                                <div class="input-group-append">
                                    <select class="custom-select form-control" id="timeUnitModal">
                                        <option selected>Choose Time unit</option>
                                        <option value="1">Years</option>
                                        <option value="2">Months</option>
                                        <option value="3">Days</option>
                                        <option value="4">Hours</option>
                                        <option value="5">Minutes</option>
                                        <option value="6">Seconds</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Calendar + Time Picker-->
                        <div id="groupCalendarModal" class="form-group">
                            <div class="input-group date datetimepicker" id="datetimepickermod"
                                data-target-input="nearest">
                                <input id="dateTimeIDModal" type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepickermod" data-toggle="datetimepicker" />
                                <div class="input-group-append" data-target="#datetimepickermod"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <div class="input-group-append">
                                    <label class="input-group-text">Start Time</label>
                                </div>
                            </div>
                        </div>
                        
                        <div id="destination_account_input_group_modal" class="input-group mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                    placeholder="Enter user name" id="destination_id_modal" disabled>
                                <div class="input-group-append">
                                    <select class="custom-select form-control" id="destination_account_modal">
                                        <option value="0" selected>Choose destination account</option>
                                        <option value="1">Transfer to my account</option>
                                        <option value="2">Transfer to another user's account</option>
                                        <option value="3">Transfer to the account of a payment group</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <select class="custom-select" id="chooseCategory_modal" disabled>
                                <option selected>Choose Category</option>
                                <% for (var i = 0; i < categorys.length; i++){ %>
                                    <% if (i!=0){ %>
                                        <option value="<%=categorys[i].category_id%>"><%=categorys[i].category_name%></option>
                                    <% } %>
                                <% } %>
                            </select>
                            <div class="input-group-append">

                                <button type="button" class="btn btn-outline-secondary"
                                    data-toggle="modal" data-target="#Category" id="new_category_button_modal" disabled>
                                    <i class="fas fa-plus fa-sm text-gray-50"></i>
                                    New Category
                                </button>

                            </div>
                        </div>
                        <hr>
                        <!-- Button Add new Expense-->
                        <button class="btn btn-success btn-icon-split" id="addExpenseModal">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Add new Expense</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal new Category-->
    <div class="modal fade" id="Category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none; z-index: 1999;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New
                        Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Category" aria-label="New Category"
                                aria-describedby="basic-addon2" id="newCategory">
                        </div>

                        <div class="input-group mb-3">
                            <textarea class="form-control" id="CategoryDescription" rows="3"
                                placeholder="Description"></textarea>
                        </div>
                        <hr>
                        <!-- Button Add new Category-->
                        <button class="btn btn-success btn-icon-split" id="addNewCategory">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Add new Category</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- Modal Filter Data-->
    <div class="modal fade" id="filter_data" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none; z-index: 1999;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        How much do you spend on:
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        
                        <div class="input-group mb-3">
                            <select class="custom-select" id="categoryToFilter">
                                <option selected>Choose Category</option>
                                <% for (var i = 0; i < categorys.length; i++){ %>
                                    <% if (i!=0){ %>
                                        <option value="<%=categorys[i].category_id%>"><%=categorys[i].category_name%></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <p>To show the expenses for all categories, just reload the page.</p>
                        <!-- Button Add new Category-->
                        <button class="btn btn-success btn-icon-split" id="filterByCategoryExpensesButton">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Filter Expenses</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>



        <!-- Modal Expense Alert-->
        <div class="modal" id="expense_alert" tabindex="-1" role="dialog" style="display: none; z-index: 1999;" aria-hidden="true"
          data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger">ALERT</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This transaction cannot be conducted as you have not enough money.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel transaction</button>
                  <!--- <button type="button" class="btn btn-danger" id="conduct_transaction_anyway_button">Conduct transaction anyway</button>
                  -->
                </div>
              </div>
            </div>
          </div>


            <!-- Modal User Transaction Note-->
            <div class="modal" id="user_transaction_alert" tabindex="-1" role="dialog" style="display: none; z-index: 1999;" aria-hidden="true"
            data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-danger">Notice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    This transaction was successful.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="transaction_expenses_successful" aria-label="Close">Ok</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Time Alert (Start Time of the event in the past) -->
    <div class="modal" id="past_time_alert" tabindex="-1" role="dialog" style="display: none; z-index: 1999;" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger">ALERT</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            The registered start time is in the past. Enter a start time in the near future.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Edit transaction</button>
            <!--- <button type="button" class="btn btn-danger" id="conduct_transaction_anyway_button">Conduct transaction anyway</button>
            -->
          </div>
        </div>
      </div>
    </div>    


            <!-- Modal Time Alert (Start Time of the event in the past) -->
            <div class="modal" id="transaction_wrong_user" tabindex="-1" role="dialog" style="display: none; z-index: 1999;" aria-hidden="true"
            data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-danger">ALERT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    The entered user does not exist. Enter firstname, whitespace and surname and make sure that the user exists.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Edit transaction</button>
                    <!--- <button type="button" class="btn btn-danger" id="conduct_transaction_anyway_button">Conduct transaction anyway</button>
                    -->
                  </div>
                </div>
              </div>
            </div>        


    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/cashare.min.js"></script>
    <script src="/static/js/bars.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <script>
        var transactions = <%- JSON.stringify(transactions) %>;
        var categorys = <%- JSON.stringify(categorys) %>;
    </script>

    <script src="/static/js/expenses.js"></script>
    <script src="/static/js/autocomplete.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/chart-pie-expenses.js"></script>
    <script src="/static/js/chart-bar-expenses.js" type="text/javascript"></script>
    <script src="/static/js/charts.js" type="text/javascript"></script>

    <!-- calendar scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment-with-locales.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/static/js/calendar.js"></script>

</body>

</html>