<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Webapplication to share and manage finances" content="">
    <meta name="Daniel Widmayer" content="Financing">

    <title>Cashare Ca$hboard</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/cashare.min.css" rel="stylesheet">

</head>

<body>
    <!-- Sticky Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-gradient-primary navbar-z text-xl">
        <a class="navbar-brand p-1" href="#">
            <img src="/static/img/cashare21.png" width="90">
        </a>
        <a class="navbar-brand p-1" href="#">
            <div class="navbar-brand-text collapse-brand">CA$HARE</div>
        </a>
        <ul class="navbar-nav ml-5 collapse-items">
            <li class="">
                <a class="nav-link" href="#group1">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="#group2">Track</a>
            </li>
            <li>
                <a class="nav-link" href="#group3">Share</a>
            </li>
            <li>
                <a class="nav-link" href="#group4">Analyze</a>
            </li>
            <li>
                <a class="nav-link" href="#group5">Invest</a>
            </li>
            <li>
                <a class="nav-link" href="#group6">About</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-auto">
            <li class="pr-2">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="pr-2">
                <a class="nav-link collapse-reg" href="/register">Register</a>
            </li>
            <li>
                <a class="nav-link" href="https://github.com/PhilemonWeber/cashare">
                    <img class="img-rounded" width="50" src="/static/img/github.png">
                </a>
            </li>
        </ul>
    </nav>
    <!-- !Navbar -->

    <!-- Parallax Effect Section -->
    <div class="parallax" data-spy="scroll" data-target=".navbar">
        <div id="group1" class="parallax__group bg-gradient-nwhite">
            <div class="parallax__layer parallax__layer--base">
                <div class="pos-abs-left text-home rounded">
                    <h1 class="card rounded text-primary">CA$HARE</h1>
                    <p class="card rounded"> Unlock financial freedom with this powerful tool for tracking your
                        finances
                        and managing finances in groups or with friends!</p>
                </div>
                <div class="pos-abs-right p-3">
                    <img class="img-fluid" src="/static/img/undraw_transfer_money.svg" alt="">
                </div>
            </div>
        </div>
        <div id="group2" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="pos-abs-right text-home rounded">
                    <h1 class="card rounded text-primary">Track</h1>
                    <p class="card rounded"> Track your finances with stunning visuals, and become the master of your
                        finances!</p>
                </div>
                <div class="p-3 pos-abs-left">
                    <img class="img-fluid" src="/static/img/undraw_personal_finance.svg" alt="">
                </div>
            </div>
            <div class="parallax__layer parallax__layer--back">
            </div>
        </div>
        <div id="group3" class="parallax__group bg-gradient-nwhite">
            <div class="parallax__layer parallax__layer--fore">
                <div class="pos-abs-left text-home rounded">
                    <h1 class="card rounded text-primary">$hare</h1>
                    <p class="card rounded"> Share finances by oranizing them in payment groups! For easier
                        communication use the included chat to communicate.</p>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="pos-abs-right p-3">
                    <img class="img-fluid" src="/static/img/undraw_online_collaboration.svg" alt="">
                </div>
            </div>
        </div>
        <div id="group4" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="pos-abs-right text-home rounded">
                    <h1 class="card rounded text-primary">Analyze</h1>
                    <p class="card rounded"> Analyze your finances and get notified about unusal high spendings. With
                        this you can become the master on your finances to know when and for what you spend the most
                        money!</p>
                </div>
            </div>

            <div class="parallax__layer parallax__layer--back">
                <div class="pos-abs-left marg-helper p-3">
                    <img class="img-fluid" src="/static/img/undraw_finance_laptop.svg" alt="">
                </div>
            </div>
            <div class="parallax__layer parallax__layer--deep">
            </div>
        </div>
        <div id="group5" class="parallax__group bg-gradient-nwhite">
            <div class="parallax__layer parallax__layer--fore">
                <div class="pos-abs-left text-home rounded">
                    <h1 class="card rounded text-primary">Invest</h1>
                    <p class="card rounded">After becoming financially independent with this tool, start
                        investing so that you money works for you instead of you working for the money.</p>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="pos-abs-right p-3">
                    <img class="img-fluid" src="/static/img/undraw_investing_data.svg" alt="">
                </div>
            </div>
        </div>
        <div id="group6" class="parallax__group">
            <div class="parallax__layer parallax__layer--back">
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="pos-abs-right text-home rounded">
                    <h1 class="card rounded text-primary">About</h1>
                    <p class="card rounded">This is a student project. You can find us on GitHub or check out the team
                        below.</p>
                </div>
                <div class="pos-abs-left p-3">
                    <img class="img-fluid" src="/static/img/undraw_posting_photo.svg" alt="">
                </div>
            </div>
        </div>
        <div id="group7" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">

                <!-- Team Section -->
                <section class="team-section text-center my-5">
                    <!-- Section heading -->
                    <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
                    <!-- Section description -->
                    <p class="grey-text w-responsive mx-auto mb-5">Check out our socials.</p>

                    <!-- Grid row -->
                    <div class="row text-center">

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-5">
                            <div class="avatar mx-auto">
                                <img src="https://www.ufz.de/export/data/2/210853_BB_quad_5.jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">Jens the Bühler</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>Mädchen für Alles</strong></h6>
                            <!--Email-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-5">
                            <div class="avatar mx-auto">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">Denis Albern</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>Chief of the Server</strong></h6>
                            <!--Email-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <!-- GitHub-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                                <i class="fab fa-github"></i>
                            </a>
                            <!-- Facebook-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--Dribbble -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
                                <i class="fab fa-dribbble"></i>
                            </a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3">
                            <div class="avatar mx-auto">
                                <img src="https://www.askideas.com/media/36/Funny-Photoshopped-Tomato-Baby-Face-Photo-For-Whatsapp.jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">Timmy the Tomato</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>Backend Soldier</strong></h6>
                            <!--Linkedin -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
                                <i class="fab fa-linkedin-in "></i>
                            </a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                                <i class="fab fa-twitter "></i>
                            </a>
                            <!--Pinterest -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
                                <i class="fab fa-pinterest "></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-5">
                            <div class="avatar mx-auto">
                                <img src="https://mybroadband.co.za/news/wp-content/uploads/2013/10/Hacker-coder-developer-software-programmer-alphanumeric-matrix.jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">Φ le mon we ber</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>GitHub Chief Officer <br>
                                    Junior Developer</strong></h6>
                            <!--Email-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <!-- Facebook-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!-- GitHub-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-5">
                            <div class="avatar mx-auto">
                                <img src="https://orf.at/static/images/site/news/20161251/umberto_eco_tot_pure_afp.4729155.jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">André, dein Schwager</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>Meister der Dokumente<br>
                                </strong></h6>
                            <!--Email-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <!-- Facebook-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!-- GitHub-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-5">
                            <div class="avatar mx-auto">
                                <img src="https://www.lto.de/fileadmin/user_upload/altermann_620.jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">Tobias Stauch</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>Senior Software Developer<br>
                                </strong></h6>
                            <!--Email-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <!-- Facebook-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!-- GitHub-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-5">
                            <div class="avatar mx-auto">
                                <img src="https://marvelgoodies.com/wp-content/uploads/2019/07/D5ip4_eWkAAs7od.jpg"
                                    class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250">
                            </div>
                            <h4 class="font-weight-bold dark-grey-text my-4">DanielWidmayer</h4>
                            <h6 class="text-uppercase grey-text mb-3"><strong>SCRUM Master<br>
                                </strong></h6>
                            <!--Email-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <!-- GitHub-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                                <i class="fab fa-github"></i>
                            </a>
                            <!-- Facebook-->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--Dribbble -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
                                <i class="fab fa-dribbble"></i>
                            </a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                </section>
                <!-- Section: Team -->

            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/cashare.min.js"></script>

</body>

</html>