<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="Webapplication to share and manage finances" content="" />
        <meta name="Daniel Widmayer" content="Financing" />

        <title>Cashare Ca$hboard</title>

        <!-- Custom fonts for this template-->
        <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

        <!-- Custom styles for this template-->
        <link href="/static/css/cashare.min.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Sticky Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-gradient-primary navbar-z text-lg">
            <a class="navbar-brand p-1" href="#" height="30">
                <img src="/static/img/cashare_cropped.png" height="30" />
            </a>
            <a class="navbar-brand p-1" href="#">
                <div class="navbar-brand-text collapse-brand">CA$HARE</div>
            </a>
            <ul class="navbar-nav ml-5 collapse-items">
                <li class="">
                    <a class="nav-link" href="#group1">Home <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link" href="#group2">Ca$hare</a>
                </li>
                <li>
                    <a class="nav-link" href="#group3">Mittel</a>
                </li>
                <li>
                    <a class="nav-link" href="#group5">Vorgehensweise</a>
                </li>
                <li>
                    <a class="nav-link" href="#group6">User Management</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-auto">
                <li class="pr-2">
                    <a class="nav-link" href="./login">Login</a>
                </li>
                <li class="pr-2">
                    <a class="nav-link collapse-reg" href="./register">Register</a>
                </li>
                <li>
                    <a class="nav-link" href="https://github.com/PhilemonWeber/cashare">
                        <img class="img-rounded" height="30" src="/static/img/github.png" />
                    </a>
                </li>
            </ul>
        </nav>
        <!-- !Navbar -->

        <!-- Parallax Effect Section -->
        <div class="parallax" data-spy="scroll" data-target=".navbar">
            <div id="group1" class="parallax__group" style="background-image: url(/static/img/currentLook.jpg); background-size: cover;">
                <div class="parallax__layer parallax__layer--base">
                    <div class="text-home rounded">
                        <h1 class="card rounded text-primary">CA$HARE</h1>
                        <p class="card rounded">Projektidee:<br>Finanzsharing Tool um Finanzen leichter zu tracken.<br>Man kann eigene Einnahmen und Ausgaben tracken und sich grafisch anzeigen lassen.<br></p>
                    </div>
                    <div class="pos-abs-right p-3" >
                        <img class="mt-5" src="/static/img/undraw_transfer_money.svg" height="500" alt="" />
                    </div>
                </div>
            </div>
            <div id="group2" class="parallax__group">
                <div class="parallax__layer parallax__layer--base" >
                    <div class="pos-abs-right text-home rounded">
                        <h1 class="card rounded text-primary">CA$HARE</h1>
                        <p class="card rounded">In Payment Groups kann man seine Finanzen mit Freunden, Familie oder Kollegen gemeinsam verwalten.<br>Zudem gibt es einen Chat um sich über Transaktionen austauschen zu können.</p>
                    </div>
                    <div class="p-3 pos-abs-left">
                        <img class="mt-5" src="/static/img/chat_example.png" height="500" alt="" />
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--back" style="background-image: url(/static/img/paymentgroups_overview.jpg); background-size: cover;"></div>
            </div>
            <div id="group3" class="parallax__group">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="pos-abs-left text-home rounded">
                        <h1 class="card rounded text-primary">Mittel</h1>
                        <p class="card rounded">MySQL Datenbank, Node express Server, Bootstrap & sass für das Styling</p>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="pos-abs-right p-3">
                        <img class="mt-5" src="/static/img/architecture.png" height="700" alt="" />
                    </div>
                </div>
            </div>
            <div id="group4" class="parallax__group">
                <div class="parallax__layer parallax__layer--base">
                    <div class="pos-abs-right text-home rounded">
                        <h1 class="card rounded text-primary">Mittel</h1>
                        <p class="card rounded">Embedded Javascript (ejs) als template language, jQuery für diverse Funktionen, fontawesome für Icons & chart.js für Charts</p>
                    </div>
                </div>

                <div class="parallax__layer parallax__layer--back">
                    <div class="pos-abs-left marg-helper p-3">
                        <img class="img-fluid" src="/static/img/chartjs.png" height="500" alt="" />
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--deep" style="background-image: url(/static/img/mittel_background.jpg); background-size: cover;"></div>
            </div>
            <div id="group5" class="parallax__group bg-gradient-nwhite">
                <div class="parallax__layer parallax__layer--fore">
                    <div class="pos-abs-left text-home rounded">
                        <h1 class="card rounded text-primary">Vorgehensweise</h1>
                        <p class="card rounded">Wöchentliche Treffen um weiteres Vorgehen zu und Aufgaben zu verteilen. <br>Regelmäßiges Mergen (CI) verschiedener Branches mit Versionskontrolle über GitHub.<br></p>
                    </div>
                </div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="pos-abs-right p-3">
                        <img class="img-fluid" src="/static/img/git_gui.png" alt="" />
                    </div>
                </div>
            </div>
            <div id="group6" class="parallax__group">
                <div class="parallax__layer parallax__layer--back" style="background-image: url(/static/img/profile_background.jpg); background-size: cover;"></div>
                <div class="parallax__layer parallax__layer--base">
                    <div class="pos-abs-right text-home rounded">
                        <h1 class="card rounded text-primary">User Management</h1>
                        <p class="card rounded">Profil kann berabeitet werden.<br>User können Gruppen anlegen und die Userrechte darin verwalten.</p>
                    </div>
                    <div class="pos-abs-left p-3">
                        <img class="img-fluid" src="/static/img/undraw_posting_photo.svg" alt="" />
                    </div>
                </div>
            </div>
            <div id="group7" class="parallax__group">
                <div class="parallax__layer parallax__layer--base">
                    <!-- Team Section -->
                    <section class="team-section text-center my-5">
                        <!-- Section heading -->
                        <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
                        <!-- Section description -->
                        <p class="grey-text w-responsive mx-auto mb-5">Check out our socials.</p>

                        <!-- Grid row -->
                        <div class="row text-center">
                            <!-- Grid column -->
                            <div class="col-lg-3 col-md-6 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude6.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">Jens the Bühler</h4>
                                <h6 class="text-uppercase grey-text mb-3"><strong>Mädchen für Alles</strong></h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf18145@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/JBHRgm">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-3 col-md-6 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">Denis Albern</h4>
                                <h6 class="text-uppercase grey-text mb-3"><strong>Chief of the Server</strong></h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf19227@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/DenisAlber">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-3 col-md-6 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude5.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">Timmy the Tomato</h4>
                                <h6 class="text-uppercase grey-text mb-3"><strong>Backend Soldier</strong></h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf18240@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/TimmyTomate">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-3 col-md-6 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude2.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">Φ le mon we ber</h4>
                                <h6 class="text-uppercase grey-text mb-3">
                                    <strong>GitHub Chief Officer <br /> </strong>
                                </h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf18232@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/PhilemonWeber">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude4.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">André, dein Schwager</h4>
                                <h6 class="text-uppercase grey-text mb-3">
                                    <strong>Meister der Dokumente<br /> </strong>
                                </h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf18034@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/Rettich787">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude3.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">Tobias Stauch</h4>
                                <h6 class="text-uppercase grey-text mb-3">
                                    <strong>Senior Software Developer<br /> </strong>
                                </h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf18131@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/TobiasStauch">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4 mb-5">
                                <div class="avatar mx-auto">
                                    <img src="/static/img/dude7.jpg" class="rounded z-depth-1-half" alt="Sample avatar" width="250" height="250" />
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">Daniel Widmayer</h4>
                                <h6 class="text-uppercase grey-text mb-3">
                                    <strong>SCRUM Master & Project Leader</strong>
                                </h6>
                                <!--Email-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email" href="mailto:inf18157@lehre.dhbw-stuttgart.de">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <!-- GitHub-->
                                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git" href="https://github.com/DanielWidmayer">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </section>
                    <!-- Section: Team -->
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/cashare.min.js"></script>

    </body>
</html>
