<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Webapplication to share and manage finances" content="">
  <meta name="Daniel Widmayer" content="Financing">

  <title>Cashare - $hareboard</title>
  <base href="http://localhost:3000/groups">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/cashare.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar'); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-md-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 text-primary font-weight-bold">$hareboard</h1>
            <div>
              <a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                data-target="#incomeModal"><i class="fas fa-plus fa-sm text-white-50"></i> New Income</a>
              <a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                data-target="#expenseModal"><i class="fas fa-plus fa-sm text-white-50"></i> New Expense</a>
              <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                data-target="#todoModal"><i class="fas fa-plus fa-sm text-white-50"></i> New Todo</a>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Group Balance Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Group Balance</div>
                      <div class="h5 mb-0 font-weight-bold text-success">$475,00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Member Count Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a class="card border-left-primary shadow h-100 text-left py-2 w-100" data-toggle="modal"
                data-target="#usersModal">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Member Count</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Unread Messages Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a class="card border-left-primary shadow h-100 text-left py-2 w-100" data-toggle="modal"
                data-target="#chatModal">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">New Messages</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">7</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Activity Feed Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a class="card border-left-primary shadow h-100 text-left py-2 w-100" data-toggle="modal"
                data-target="#feedModal">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Activity Feed</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">21</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-list fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Payment Tasks Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a class="card border-left-primary text-left shadow h-100 w-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Payment Tasks</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%"
                              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Pending Requests Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <a class="card border-left-primary shadow h-100 text-left py-2 w-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- Earnings (Monthly) Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Annual) Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Earnings (Annual)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-600"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card border-left-primary shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-secondary">Money spend - Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card border-left-primary shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-secondary">Categories</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Food
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-cyan"></i> Trips
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-secondary"></i> Social
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card  -->
              <div class="card border-left-primary shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-secondary">Todo</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Bake Bread <span class="float-right">10%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="20"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Do nice stuff <span class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Payout Details <span class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>



              <!-- Illustrations -->
              <div class="card border-left-primary shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-secondary">Add new Todo</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Todo Title" aria-label="Todo Title"
                        aria-describedby="basic-addon2">
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Value Goal" aria-label="Value Goal"
                            aria-describedby="basic-addon2">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Current Value" aria-label="Current Value"
                            aria-describedby="basic-addon2">
                        </div>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose Category</option>
                        <option value="0">None</option>
                        <option value="1">Food</option>
                        <option value="2">Social</option>
                        <option value="3">Trips</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                          <i class="fas fa-plus fa-sm text-gray-50"></i>
                          New Category</button>
                      </div>
                    </div>
                    <hr>
                    <!-- Button Add new Todo-->
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Add new Todo</span>
                    </a>
                  </div>

                </div>
              </div>

            </div>

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card border-left-primary shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-secondary">Add new Income</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Income Value" aria-label="Transaction Value"
                        aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">$</span>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose Time period</option>
                        <option value="1">Single Income</option>
                        <option value="2">Monthly Income</option>
                        <option value="3">Other..</option>
                      </select>
                    </div>
                    <div class="input-group mb-3">
                      <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose Category</option>
                        <option value="1">Food</option>
                        <option value="2">Social</option>
                        <option value="3">Trips</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                          <i class="fas fa-plus fa-sm text-gray-50"></i>
                          New Category</button>
                      </div>
                    </div>
                    <hr>
                    <!-- Button Add new Income-->
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Add new Income</span>
                    </a>
                  </div>

                </div>
              </div>

              <!-- Illustrations -->
              <div class="card border-left-primary shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-secondary">Add new Expense</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Value of transaction"
                        aria-label="Transaction Value" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">$</span>
                      </div>
                    </div>

                    <div class="input-group">
                      <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Choose Category</option>
                        <option value="1">Food</option>
                        <option value="2">Social</option>
                        <option value="3">Trips</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                          <i class="fas fa-plus fa-sm text-gray-50"></i>
                          New Category</button>
                      </div>
                    </div>
                    <hr>
                    <!-- Button Add new Expense-->
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Add new Expense</span>
                    </a>
                  </div>

                </div>
              </div>

            </div>

          </div>
          <!-- End of row-->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- New Income Modal -->
  <div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="incomeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new Income</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Income Value" aria-label="Transaction Value"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">$</span>
              </div>
            </div>
            <div class="input-group mb-3">
              <select class="custom-select" id="inputGroupSelect04">
                <option selected>Choose Time period</option>
                <option value="1">Single Income</option>
                <option value="2">Monthly Income</option>
                <option value="3">Other..</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <select class="custom-select" id="inputGroupSelect04">
                <option selected>Choose Category</option>
                <option value="1">Food</option>
                <option value="2">Social</option>
                <option value="3">Trips</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-plus fa-sm text-gray-50"></i>
                  New Category</button>
              </div>
            </div>
            <hr>
            <!-- Button Add new Income-->
            <a href="#" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Add new Income</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New Expense Modal -->
  <div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Value of transaction" aria-label="Transaction Value"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">$</span>
              </div>
            </div>

            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect04">
                <option selected>Choose Category</option>
                <option value="1">Food</option>
                <option value="2">Social</option>
                <option value="3">Trips</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-plus fa-sm text-gray-50"></i>
                  New Category</button>
              </div>
            </div>
            <hr>
            <!-- Button Add new Expense-->
            <a href="#" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Add new Expense</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- New Todo Modal -->
  <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new Todo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Todo Title" aria-label="Todo Title"
                aria-describedby="basic-addon2">
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Value Goal" aria-label="Value Goal"
                    aria-describedby="basic-addon2">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Current Value" aria-label="Current Value"
                    aria-describedby="basic-addon2">
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <select class="custom-select" id="inputGroupSelect04">
                <option selected>Choose Category</option>
                <option value="0">None</option>
                <option value="1">Food</option>
                <option value="2">Social</option>
                <option value="3">Trips</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-plus fa-sm text-gray-50"></i>
                  New Category</button>
              </div>
            </div>
            <hr>
            <!-- Button Add new Todo-->
            <a href="#" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Add new Todo</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- User Count Modal -->
  <div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="usersModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="flex-row">
            <img class="img-profile rounded-circle" height="50" width="50"
              src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
            <span class="ml-2 d-none d-lg-inline text-secondary font-weight-bold small">Marlene Musterfrau</span>
          </div>
          <hr>

          <div class="flex-row">
            <img class="img-profile rounded-circle" height="50" width="50"
              src="https://source.unsplash.com/CS2uCrpNzJY/60x60">
            <span class="ml-2 d-none d-lg-inline text-secondary font-weight-bold small">Jens Bühler</span>
          </div>
          <hr>

          <div class="flex-row">
            <img class="img-profile rounded-circle" height="50" width="50"
              src="https://source.unsplash.com/Mv9hjnEUHR4/60x60">
            <span class="ml-2 d-none d-lg-inline text-secondary font-weight-bold small">Dawg</span>
          </div>
          <hr>

          <div class="flex-row">
            <img class="img-profile rounded-circle" height="50" width="50"
              src="https://source.unsplash.com/random/60x60">
            <span class="ml-2 d-none d-lg-inline text-secondary font-weight-bold small">Maximilian Musterman</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Unread Messages Chat Modal -->
  <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Unread Messages</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="p-0" id="toggleChat">
            <div class="msg_history" id="messageBody">
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://source.unsplash.com/random/60x60" alt="user">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <h6>User Name</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique nobis culpa
                      fuga eos obcaecati id ex inventore, repellendus neque
                      voluptatibus aperiam
                      perferendis fugiat natus numquam! Adipisci voluptatem enim
                      impedit suscipit?</p>
                    <span class="time_date"> 11:11 AM | January 9</span>
                  </div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>Alles klar?!</p>
                  <span class="time_date"> 11:12 AM | January 9</span>
                </div>
              </div>
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://source.unsplash.com/random/60x60" alt="user">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <h6>User Name</h6>
                    <p>Ja Danke!</p>
                    <span class="time_date"> 18:34 AM | Yesterday</span>
                  </div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>Oke.</p>
                  <span class="time_date"> 9:31 AM | Today</span>
                </div>
              </div>
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://source.unsplash.com/random/60x60" alt="user">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <h6>User Name</h6>
                    <p>We work directly with our designers and suppliers,
                      and sell direct to you, which means quality, exclusive
                      products, at a price anyone can afford.</p>
                    <span class="time_date"> 11:01 AM | Today</span>
                  </div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores quod
                    hic molestiae quos, nemo temporibus rerum quo iure voluptate, eaque sunt
                    placeat ad perspiciatis vero incidunt, aspernatur nobis odit officiis?.
                  </p>
                  <span class="time_date"> 9:31 AM | Today</span>
                </div>
              </div>
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://source.unsplash.com/random/60x60" alt="user">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <h6>User Name</h6>
                    <p>We work directly with our designers and suppliers,
                      and sell direct to you, which means quality, exclusive
                      products, at a price anyone can afford.</p>
                    <span class="time_date"> 11:01 AM | Today</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="type_msg">
              <div class="row">
                <input type="text" class="write_msg input_msg_write " placeholder="Type a message" />
                <button class="btn btn-primary btn-circle mt-1 ml-2 mr-2" type="button">
                  <i class="fas fa-paper-plane text-white"></i></button>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>




  <!-- Actvity Feed Modal -->
  <div class="modal" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="feedModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Activity Feed</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Alert Card -->
          <div class="card mb-4 py-3 rounded flex-row border-left-primary">
            <div class=" ml-4 mr-3 mt-1">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div>
            <div>
              <span class="font-weight-bold">A new payment task has been added!</span>
              <div class="text-gray-500">December 12, 2019</div>
            </div>
          </div>

          <!-- Alert Card -->
          <div class="card mb-4 py-3 rounded flex-row border-left-success">
            <div class="ml-4 mr-3 mt-1">
              <div class="icon-circle bg-success">
                <i class="fas fa-donate text-white"></i>
              </div>
            </div>
            <div>
              You have made a transaction over $70.00!
              <div class="text-gray-500">December 7, 2019</div>
            </div>
          </div>

          <!-- Alert Card -->
          <div class="card mb-4 py-3 rounded flex-row border-left-warning">
            <div class="ml-4 pr-0 mt-1">
              <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div class="ml-3">
              Spending Alert: We've noticed unusually high spending from your group.
              <div class="text-gray-500">December 2, 2019</div>
            </div>
          </div>

          <!-- Error Card -->
          <div class="card mb-4 py-3 rounded flex-row border-left-danger">
            <div class="ml-4 mr-3 mt-1">
              <div class="icon-circle bg-danger">
                <i class="fas fa-exclamation text-white"></i>
              </div>
            </div>
            <div>
              Error: Your expense exceeds the group spending limit.
              <div class="text-gray-500">December 1, 2019</div>
            </div>
          </div>

          <!-- Info Card -->
          <div class="card mb-4 py-3 rounded flex-row border-left-info">
            <div class="ml-4 mr-3 mt-1">
              <div class="icon-circle bg-info">
                <i class="fas fa-info text-white"></i>
              </div>
            </div>
            <div>
              Jens Bühler has payed you $123.45 bucks!
              <div class="text-gray-500">Novembre 29, 2019</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/cashare.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>