<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CA$HARE - Payment Groups</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/cashare.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar'); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-primary font-weight-bold">Payment Groups</h1>
            <a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
              data-target="#newGroupModal"><i class="fas fa-plus fa-sm text-white-50"></i> New Payment Group</a>
          </div>

          <% for(parts = 0; parts < groups.length; parts++) { %>
            <% if (parts % 2 == 0) { %>
              <div class="row">
            <% } %>
              <div class="col-lg-6 mb-4">
                <!-- Payment Group -->
              <div class="card border-left-primary shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <a class="m-0 font-weight-bold text-secondary" href="/groups/group<%=groups[parts]['group_data']['id']%>"><%=groups[parts]['group_data']['name']%></a>
                  <% if(groups[parts]['role'] < 2) { %>
                  <div class="dropdown no-arrow" hidden>
                  <% } else { %>
                  <div class="dropdown no-arrow">
                  <% } %>
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Options:</div>
                      <% if(groups[parts]['role'] < 3) { %>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editGroupModal" hidden>
                      <% } else { %>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editGroupModal<%=groups[parts]['group_data']['id']%>">
                      <% } %>
                        <i class="fas fa-edit text-gray-600 mr-1"></i>Edit</a>
                      <% if(groups[parts]['role'] < 2) { %>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#inviteModal" hidden>
                      <% } else { %>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#inviteModal<%=groups[parts]['group_data']['id']%>">
                      <% } %>
                        <i class="fas fa-plus text-gray-600 mr-1"></i>Invite</a>
                      <div class="dropdown-divider"></div>
                      <% if(groups[parts]['role'] < 3) { %>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteGroupModal" hidden>
                      <% } else { %>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteGroupModal<%=groups[parts]['group_data']['id']%>">
                      <% } %>
                        <i class="fas fa-trash text-gray-600 mr-1"></i>Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-12 col-md-12 mb-4">
                      <div class="card border-primary shadow p-2">
                        <%=groups[parts]['group_data']['description']%>
                      </div>
                    </div>
                  </div>

                  <!-- Content Row -->
                  <div class="row">

                    <!-- Member Count Card -->
                    <div class="col-xl-4 col-md-6 mb-4">
                      <a class="card border-primary shadow btn-link py-2" data-toggle="modal" data-target="#usersModal<%=groups[parts]['group_data']['id']%>">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Member count
                              </div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=groups[parts]['group_members'].length%></div>
                            </div>
                            <div class="col-auto">
                              <i class="fas fa-user fa-2x text-gray-600"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <!-- Pending Requests Card -->
                    <div class="col-xl-4 col-md-6 mb-4">
                      <a class="card border-primary shadow btn-link py-2" data-toggle="modal" data-target="#feedModal<%=groups[parts]['group_data']['id']%>">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Activity Feed
                              </div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=groups[parts]['group_alerts'].length%></div>
                            </div>
                            <div class="col-auto">
                              <i class="fas fa-comments fa-2x text-gray-600"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <!-- Account Balance Card -->
                    <div class="col-xl-4 col-md-6 mb-4">
                      <a class="card border-primary shadow btn-link py-2" href="/groups/group<%=groups[parts]['group_data']['id']%>">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Account Balance
                              </div>
                              <div class="h5 mb-0 font-weight-bold text-success">$<%=groups[parts]['group_data']['balance']%></div>
                            </div>
                            <div class="col-auto">
                              <i class="fas fa-dollar-sign fa-2x text-gray-600"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>


                    <!-- end of row -->
                  </div>



                </div>
              </div>
              <!-- end of Payment Group -->
              </div>
            <% if (parts % 2 == 1) { %>
            </div>
            <% } %>
          <% } %>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- New Payment Group Modal -->
  <div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add new Payment Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <form method="POST" action="/groups">
              <div class="input-group mb-3">
                <input type="text" name="groupname" class="form-control" placeholder="Payment Group Title" aria-label="Payment Group Title"
                  aria-describedby="basic-addon2">
              </div>
              <div class="input-group mb-3">
                <input type="text" name="groupdesc" class="form-control" placeholder="Description" aria-label="Payment Group Desc">
              </div>
              <hr>
              <!-- Button Add new Payment Group-->
              <button type="submit" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">Add new Payment Group</span>
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% for (el = 0; el < groups.length; el++) { %>
  <!-- Invite Modal -->
  <div class="modal fade" id="inviteModal<%=groups[el]['group_data']['id']%>" tabindex="-1" role="dialog" aria-labelledby="inviteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Invite users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/groups/group<%=groups[el]['group_data']['id']%>/invite">
            <div class="text-center">
              <div class="input-group mb-3">
                <input type="text" name="usermail" class="form-control" placeholder="Search for User" aria-label="Payment Group Title"
                  aria-describedby="basic-addon2">
              </div>
              <hr>
              <!-- Button Add new Payment Group-->
              <button type="submit" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">Send Invite</span>
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for (el = 0; el < groups.length; el++) { %>
  <!-- Edit Payment Group Modal -->
  <div class="modal fade" id="editGroupModal<%=groups[el]['group_data']['id']%>" tabindex="-1" role="dialog" aria-labelledby="editGroupModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Payment Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
        <form action="/groups/group<%=groups[el]['group_data']['id']%>" method="POST">
          <div class="input-group mb-3">
            <input type="text" name="groupname" class="form-control" value="<%=groups[el]['group_data']['name']%>" aria-label="Payment Group Title"
              aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <input type="text" name="groupdesc" class="form-control" value="<%=groups[el]['group_data']['description']%>" aria-label="Payment Group Desc"
              aria-describedby="basic-addon2">
          </div>
          <hr>
          <div class="flex-row">
            <p class="font-weight-bold d-inline-flex m-0">Manage User rights</p>
            <p class="d-inline-flex m-0 float-right">Write Admin</p>
          </div>
          <hr>
          <% for (m_ctr = 0; m_ctr < groups[el]['group_members'].length; m_ctr++) { %>
            <div class="flex-row userDisplay">
              <% if (groups[el]['group_members'][m_ctr]['picture']) { %>
                <div class="profilepic profilepic-sm " style="background-image: url(/static/img/profiles/<%=groups[el]['group_members'][m_ctr]['picture']%>);"></div>
              <% } else {%>
                <i class="fas fa-user fa-fw btn btn-primary btn-circle"></i>
              <% } %>
              <span class="ml-2 d-none d-inline text-secondary font-weight-bold small">
                <%=groups[el]['group_members'][m_ctr]['firstname'] + ' ' + groups[el]['group_members'][m_ctr]['lastname']%></span>
              <div class="checkbox-triple">
                <% if (groups[el]['group_members'][m_ctr]['role'] >= 2) { %>
                  <input type="checkbox" name="cb-write_<%=groups[el]['group_members'][m_ctr]['id']%>" value="1" class="mr-3 cb-role" checked>
                  <input type="checkbox" name="cb-write_<%=groups[el]['group_members'][m_ctr]['id']%>" value="0" class="mr-3" hidden>
                <% } else { %>
                  <input type="checkbox" name="cb-write_<%=groups[el]['group_members'][m_ctr]['id']%>" value="0" class="mr-3 cb-role">
                  <input type="checkbox" name="cb-write_<%=groups[el]['group_members'][m_ctr]['id']%>" value="1" class="mr-3" hidden>
                <% } %>
                <% if (groups[el]['group_members'][m_ctr]['role'] > 2) { %>
                  <input type="checkbox" name="cb-admin_<%=groups[el]['group_members'][m_ctr]['id']%>" value="1" class="mr-3 cb-role" checked> 
                  <input type="checkbox" name="cb-admin_<%=groups[el]['group_members'][m_ctr]['id']%>" value="0" class="mr-3" hidden> 
                <% } else { %>
                  <input type="checkbox" name="cb-admin_<%=groups[el]['group_members'][m_ctr]['id']%>" value="0" class="mr-3 cb-role"> 
                  <input type="checkbox" name="cb-admin_<%=groups[el]['group_members'][m_ctr]['id']%>" value="1" class="mr-3" hidden>   
                <% } %>
              </div>
            </div>
            <hr>
          <% } %>
          
          <div class="text-center">
            <!-- Save changes-->
            <button type="submit" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Save Changes</span>
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for (el = 0; el < groups.length; el++) { %>
  <!-- Delete Group Modal -->
  <div id="deleteGroupModal<%=groups[el]['group_data']['id']%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Confirm to Delete Payment Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p class="text-danger">Select "Delete" below if you are sure you want to delete the Group "<%=groups[el]['group_data']['name']%>". Warning: This can not be undone!
            </p>
            <hr>
            <!-- Delete confirm-->
            <a href="/groups/group<%=groups[el]['group_data']['id']%>/rem" class="btn btn-danger btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <span class="text">Delete</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for (el = 0; el < groups.length; el++) { %>
  <!-- User Count Modal -->
  <div class="modal fade" id="usersModal<%=groups[el]['group_data']['id']%>" tabindex="-1" role="dialog" aria-labelledby="usersModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          <% for (m_ctr = 0; m_ctr < groups[el]['group_members'].length; m_ctr++) { %>
            <div class="flex-row userDisplay">
              <% if (groups[el]['group_members'][m_ctr]['picture']) { %>
                <div class="profilepic profilepic-sm" style="background-image: url(/static/img/profiles/<%=groups[el]['group_members'][m_ctr]['picture']%>)"></div>
              <% } else {%>
                <i class="fas fa-user fa-fw btn btn-primary btn-circle"></i>
              <% } %>
              <span class="ml-2 d-none d-lg-inline text-secondary font-weight-bold small">
                <%=groups[el]['group_members'][m_ctr]['firstname'] + ' ' + groups[el]['group_members'][m_ctr]['lastname']%>
              </span>
            </div>
            <% if (m_ctr < groups[el]['group_members'].length - 1) { %>
            <hr>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for (el = 0; el < groups.length; el++) { %>
  <!-- Actvity Feed Modal -->
  <div class="modal fade" id="feedModal<%=groups[el]['group_data']['id']%>" tabindex="-1" role="dialog" aria-labelledby="feedModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Activity Feed</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
        <% for (a_ctr = 0; a_ctr < groups[el]['group_alerts'].length; a_ctr++) { %>
          <!-- Alert Card -->
          <div class="card mb-4 py-3 rounded flex-row border-left-<%=groups[el]['group_alerts'][a_ctr]['class']%>">
            <div class=" ml-4 mr-3 mt-1">
              <% if (groups[el]['group_alerts'][a_ctr]['class'] == 'primary') { %>
                <div class="icon-circle bg-primary">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              <% } else if (groups[el]['group_alerts'][a_ctr]['class'] == 'success') { %>
                <div class="icon-circle bg-success">
                  <i class="fas fa-donate text-white"></i>
                </div>
              <% } else if (groups[el]['group_alerts'][a_ctr]['class'] == 'warning') { %>
                <div class="icon-circle bg-warning">
                  <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
              <% } else if (groups[el]['group_alerts'][a_ctr]['class'] == 'danger') { %>
                <div class="icon-circle bg-danger">
                  <i class="fas fa-exclamation text-white"></i>
                </div>
              <% } %>
            </div>
            <div>
              <span class="font-weight-bold"><%=groups[el]['group_alerts'][a_ctr]['message']%></span>
              <div class="text-gray-500"><%=groups[el]['group_alerts'][a_ctr]['time']%></div>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/cashare.min.js"></script>
  <script src="/static/js/groups-overview.js"></script>

</body>

</html>