<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CA$HARE - Profile</title>
  <base href="http://localhost:3000/profile">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/cashare.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar'); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-primary font-weight-bold">Profile</h1>
          </div>
          <div class="row mt-3 mb-4">
            <div class="ml-2">
              <% if (userpic) { %>
              <img class="img-profile rounded-circle" width="100" height="100" src="img/profiles/<%= userpic %>">
              <% } else {%>
              <i class="fas fa-user fa-fw btn btn-primary btn-circle"></i>
              <% } %>
            </div>
            <div class="ml-3 mt-auto mb-auto">
              <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#exampleModalCenter">
                <span class="icon text-white-50">
                  <i class="fas fa-user"></i>
                </span>
                <span class="text">Change Profile Picture</span>
              </a>
            </div>
          </div>

          <form action="/profile" method="POST" id="data_form">
            <!-- Content Row -->
            <div class="row">

              <!-- Content Column -->
              <div class="col-lg-4 mb-4">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Vorname</span>
                  </div>
                  <input id="firstname" type="text" class="form-control" aria-label="Vorname" value="<%= username[0] %>"
                    name="firstname" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>

              <!-- Content Column -->
              <div class="col-lg-4 mb-4">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nachname</span>
                  </div>
                  <input id="lastname" type="text" class="form-control" aria-label="Default" value="<%= username[1] %>"
                    name="lastname" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>

            </div>
            <!-- end of row-->

            <!-- Content Row -->
            <div class="row">

              <!-- Content Column -->
              <div class="col-lg-8 mb-4">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Mail-Adresse</span>
                  </div>
                  <input id="mail" type="text" class="form-control" value="<%= usermail %>" name="mail"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
              </div>
              <!-- end of column -->
            </div>
            <!-- End of Content Row -->

            <!-- Content Row -->
            <div class="row">

              <!-- Content Column -->
              <div class="col-lg-8 mb-4">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Old Password</span>
                  </div>
                  <input id="pw_old" type="password" class="form-control" aria-label="Vorname" placeholder="Enter Password" name="old_password" 
                    aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
            </div>
            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-lg-4 mb-4">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">New Password</span>
                  </div>
                  <input id="pw_new" type="password" class="form-control" aria-label="Default" placeholder="Enter Password"
                    name="new_password" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
              <!-- Content Column -->
              <div class="col-lg-4 mb-4">

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Repeat Password</span>
                  </div>
                  <input id="pw_conf" type="password" class="form-control" aria-label="Default" placeholder="Repeat Password"
                    name="password_confirm" aria-describedby="inputGroup-sizing-default">
                </div>
              </div>
            </div>
            <!-- end of row-->

            <button type="button" class="btn btn-success btn-icon-split" onclick="changeData()">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Save Changes</span>
            </button>
          </form>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="./logout">Logout</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Change Profile Picture Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Upload new Profile Picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="./profile" method="POST" enctype="multipart/form-data" id="pic_form">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="pic" accept="image/*"
                  aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose File</label>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="changepic()">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/cashare.min.js"></script>

  <script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
      var fileName = document.getElementById("inputGroupFile01").files[0].name;
      var nextSibling = e.target.nextElementSibling;
      nextSibling.innerText = fileName;
    });

    function changepic() {
      if($('#inputGroupFile01').val() != "") $('#pic_form').submit();
      else {
        // TODO error-popup
        alert("Please provide a valid picture!");
      }
    }

    function checkpw_re(el_id) {
      let regexp = /^([a-zA-Z0-9@*#_+]{8,15}$)/;
      return regexp.test($(el_id).val());
    }

    function checkpw_conf() {
      return ($('#pw_new').val() == $('#pw_conf').val()) ? true : false ;
    }

    function pw_mark(el_id, flag) {
      if(!flag) {
        $(el_id).css("border-color", "red");
        $(el_id).css("box-shadow", "0 0 0 1px rgba(255, 0, 0, 0.3)");
      } else {
        $(el_id).css("border-color", "green");
        $(el_id).css("box-shadow", "0 0 0 1px rgba(0, 100, 0, 0.3)");
      }
    }


    $('#pw_new').on('keyup', function() {
      pw_mark('#pw_conf', checkpw_conf());
      pw_mark('#pw_new', checkpw_re('#pw_new'));
    })

    $('#pw_conf').on('keyup', function() {
      pw_mark('#pw_conf', checkpw_conf());
    })


    function changeData() {
      var flag = false;
      $('#data_form input[type=text]').each(function() {
        if($(this).val() == "" && !flag) {
          // TODO error-popup for invalid firstname, lastname, mail (mail-form still needs to be checked)
          flag = true;
        }
      })
      if (flag) return 0;
      if($('#pw_old').val() == "" && $('#pw_new').val() == "" && $('#pw_conf').val() == "") $('#data_form').submit();
      else {
        if($('#pw_old').val() == "") {
          // TODO error-popup for missing old password
          flag = true;
        }
        else if(!checkpw_re('#pw_new')) {
          // TODO error-popup for invalid new password
          flag = true;
        }
        else if(!checkpw_conf()) {
          // TODO error-popup for mismatched passwords
          flag = true;
        }
        if(!flag) $('#data_form').submit();
      }
    }
    
  </script>

</body>

</html>