<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./home">
        <div class="sidebar-brand-icon">
            <img src="img/cashare21.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="sidebar-brand-text mx-3">CA$HARE</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Ca$hboard -->
    <li class="nav-item  <% if (pagename === 'index') { %> active <% } %>">
        <a class="nav-link" href="./home">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Ca$hboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Personal
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item <% if (pagename === 'expenses') { %> active <% } %>">
        <a class="nav-link" href="./expenses">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>Expenses</span>
        </a>

    </li>

    <!-- Nav Item - Income -->
    <li class="nav-item <% if (pagename === 'income') { %> active <% } %>">
        <a class="nav-link" href="./income">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Income</span>
        </a>
    </li>


    <!-- Nav Item - Logs -->
    <li class="nav-item <% if (pagename === 'logs') { %> active <% } %>">
        <a class="nav-link" href="./tables">
            <i class="fas fa-fw fa-file-invoice-dollar"></i>
            <span>Logs</span>
        </a>

    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Shared
    </div>

    <!-- Nav Item - Payment Groups -->
    <li class="nav-item <% if (pagename === 'groups') { %> active <% } %>">
        <a class="nav-link collapsed" href="./groups" data-toggle="collapse" data-target="#collapsePayGroups"
            aria-expanded="true" aria-controls="collapseTestings">
            <i class="fas fa-fw fa-hand-holding-usd"></i>
            <span>Payment Groups</span></a>
        </a>
        <div id="collapsePayGroups" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Total:</h6>
                <a class="collapse-item font-weight-bold" href="./groups">Overview</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Payment Groups:</h6>
                <a class="collapse-item" href="paymentgroup-shareboard.html">Payment Group Title</a>
                <a class="collapse-item" href="paymentgroup-shareboard.html">Payment Group Title</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Account
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item <% if (pagename === 'profile') { %> active <% } %>">
        <a class="nav-link" href="./profile">
            <i class="fas fa-fw fa-user"></i>
            <span>Profile</span></a>
    </li>

    <!-- Nav Item - Settings -->
    <li class="nav-item">
        <a class="nav-link" href="blank.html">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">



    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->